footer {
    background: var(--main-bg-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

footer p {
    margin: 0;
    font-size: 14px;
}