footer {
    background: var(--main-bg-color);
    color: white;
    padding: 12px 0;
}

.footer_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    margin-bottom: 8px;
    text-align: center;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}